@import url(styles/header.css);
@import url(styles/aboutUs.css);
@import url(styles/metrics.css);
@import url(styles/talents.css);
@import url(styles/jobs.css);
@import url(styles/testimonials.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--inter);
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}


:root {
    /* COLORS */
    --dark-red:#8E2424;
    --gray: #667085;
    --white: #FFFFFF;
    --black: #101828;
    --background-red: rgba(142, 36, 36, 0.05);

    /* FONTS */
    --inter: "Inter", "Serif";
}

