.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 7em;
}

.nav {
    margin-right: auto;
    margin-left: 7.4em;
}

.container {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.container__list {
    display: flex;
    gap: 2em;
    list-style: none;
}



.button {
    padding: 0.625em  1.125em;
    border-radius: 8px;
}

.button-red {
    background-color: var(--dark-red);
    color: var(--white);
    padding: 0.625em  1.125em;
    border-radius: 8px;
}