.testimonials {
    text-align: center;
    background-color: var(--background-red);
    border-radius: 16px;
    max-width: 1216px;
    margin: 0 auto;
    margin-bottom: 6em;
    padding: 4em;
}

.testimonials__title {
    font-weight: 600;
    color: var(--dark-red);
    font-size: 14px;
}

.testimonials__testimonial {
    font-weight: 500;
    font-size: 36px;
    color: var(--black);
    max-width: 1088px;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.testimonials__name {
    font-weight: 500;
    color: var(--black);
    margin-top: 1em;
    margin-bottom: 0.25em;
}

.testimonials__job {
    font-weight: 400;
    font-size: 14px;
}